.logo-nav {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
}
.header-nav {
  font-family: "Raleway";
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
}
.navigation-footer-header {
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  padding-top: 60px;
  padding-bottom: 15px;
}
