* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --contacts-header-color: #757575;
  --body-background-color: #ffffff;
  --main-text-color: #212121;
  --color-icon: #afb1b8;
  --grey-line-color: #eeeeee;
  --blue-color: rgba(33, 150, 243, 1);
  --transition-fn: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--main-text-color);
  margin: auto;
}
input {
  outline: none;
}
.short-description {
  padding-top: 94px;
}
.second-section {
  display: flex;
  justify-content: space-around;
  padding-top: 94px;
  padding-bottom: 94px;
}
.photos {
  background-color: var(--first-background-color);
  display: inline;
  color: var(--first-text-color);
}
.photos h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 50px;
}

.photos ul {
  list-style: none;
  gap: 30px;
}
.dream-team {
  display: flex;
  justify-content: space-around;
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.img {
  object-fit: cover;
  display: block;
}
.test {
  display: flex;
  align-items: baseline;
}
